html {
  margin: 0px;
  padding: 0px;
  font-size: 1.4vw;
  font-family: "Source Code Pro", sans-serif;
  background-color: #eeeeee;
}

canvas {
	margin-bottom: 30px;
}

#jsonParseError {
	display: none;
	color: red;
}

#charts {
	display: none;
	flex-wrap: wrap;
	justify-content: space-around;
}

.full-width {
	position: relative;
	width: 100%;
	margin-bottom: 30px;
}

#puzzleCanvas {
	display: none;
	height: 600px;
	width: 600px;
	border: 1px solid #d3d3d3;
}
