html {
  margin: 0px;
  padding: 0px;
  font-size: 1.4vw;
  font-family: "Source Code Pro", sans-serif;
  background-color: #eeeeee;
}

canvas {
	margin-bottom: 30px;
}

#jsonParseError {
	display: none;
	color: red;
}

#charts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}